/* styles.css */
@font-face {
    font-family: BrinnanRegular;
    src: url(fonts/BrinnanRegular.otf);
  }

  @font-face {
    font-family: BrinnanLight;
    src: url(fonts/BrinnanLight.otf);
  }

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('background.jpg') no-repeat center center fixed; 
    background-size: cover;
}

.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-btn {
    width: auto;
    height: calc((100vh - 140px - 20px) / 7);
    margin: 10px;
    animation: pulsate 4s infinite;
    animation-delay: var(--animation-delay);
}

#menu-button, #close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* background-color: white; */
    text-align: center;
    font-size: larger;
    border-radius: 50%;
    line-height: 30px;
    color: #FFF;
    font-size: 50px;
}

#close-button {
    display: none;
}

#menu-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    align-items: center;
    justify-content: center;
    animation: fade-in 1s;
    overflow: hidden;
    flex-direction: column;
}

.menu-item {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    cursor: pointer;
}

#video-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    animation: fade-in 1s;
}

.video-js {
    width: 100%;
    height: 100%;
}

@keyframes pulsate {
    0% {opacity: 0.5;}
    50% {opacity: 1;}
    100% {opacity: 0.5;}
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#close-button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: larger;
    border-radius: 50%;
    line-height: 30px;
    font-size: 50px;
    display: none;
    z-index: 2000;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-item {
    font-family: BrinnanRegular;
}

.menu-item a {
    color: #FFF;
    text-decoration: none;
}

#follow-modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2000;
    align-items: center;
    justify-content: center;
    animation: fade-in 1s;
}

#follow-modal p {
    color: white;
    font-family: ;
    text-align: center;
    padding: 0 20px;
}

/* upd2 */